<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bucket List 2025</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
    <script type="text/javascript" src="{{url_for('static', filename='js/main.js')}}">
</head>
<body>
        <!-- logo -->
        <div>
            <img src="../project_logo.PNG" alt="resolution_logo">
        </div>
        <!-- REMOVE RESOLUTION FORM -->
        
        <div id="remove_items">
            <form action="/remove_items" method="POST">
                {% for item in show_items %}
                <input type="checkbox" name="check" id="{{item}}" value="{{item}}">
                <label for="{{item}}" name="{{item}}">{{item}}"</label><br>
                {% endfor %}
                <input type="submit" value="REMOVE ITEMS" id="remove_btn">
            </form>
        </div>

        <!-- ADD RESOLUTION FORM -->
        <form action="/add_items" method="POST">
            <select name="select_items">
            {% for item in all_items %}
            <option value="{{ item }}">{{ item }}</option>
            {% endfor %}
            <input type="submit" value="ADD ITEM" id="add_btn">
        </form>
</body>
</html>